

.search-result-info {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #707073;
}

.search-result-title {
    font-size: 1.5em;
}

.skill-bubble {
    margin: 0 5px 10px 0;
    padding: 3px;
    border: 1px solid #707073;
    border-radius: 2px;
}

.search-result-skills {
    margin: 5px 0;
}

.user-search-profile {
    display: inline-block;
}

.search-result-text {
    font-size: 1em;
}

.user-profile-link {
    margin: 5px;
}

.search-form {
    padding-bottom: 20px;
}

#user-search-form {
    padding-bottom: 20px;
}

.text-search-input {

    width: 33%;
    margin: 5px;

    display: inline-block;

    background: transparent;
    color: #E0E0E3;
    border: solid #707073 2px;

    padding: 20px 6px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}