#journal-entry-input {
    height: 150px;

    color: #E0E0E3;
    font-size: 24px;

    background: transparent;
    border: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#journal-entry-input-button {
    background: transparent;
    color: #E0E0E3;
    border: none;
    margin: auto;
}

.journal-entry-text {
    font-size: 24px;
}

.user-search-info {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #707073;
}

.user-search-username {
    font-size: 1.5em;
}

.user-search-skill {
    margin: 0 5px 10px 0;
    padding: 3px;
    border: 1px solid #707073;
    border-radius: 2px;
}

.user-search-skill-list {
    margin: 5px 0;
}

.user-search-profile {
    display: inline-block;
}

.user-profile-link {
    margin: 5px;
}

#journal-entry-form ::-webkit-input-placeholder {
    color: #707073;
}

#journal-entry-form :-ms-input-placeholder {
    color: #707073;
}

#journal-entry-form ::-moz-placeholder {
    color: #707073;
}

#journal-entry-form :-moz-placeholder {
    color: #707073;
}

#user-search-form {
    padding-bottom: 20px;
}

#user-skill-search {
    background: transparent;
    color: #E0E0E3;
    border: solid #707073 2px;

    padding: 20px 6px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}