@(username: String)(implicit messages: Messages)

@loggedInTemplate("Todo") {
    <link href="@routes.Assets.at("stylesheets/journal.css")" rel="stylesheet" type="text/css">
} {

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <form id="team-search-form" class="search-form">
                    <label for="team-skill-search" class="sr-only">Search</label>
                    <input type="text" name="team-skill-search-input" id="team-skill-search" class="form-control text-search-input" placeholder="search for skills...">

                    <label for="team-description-search" class="sr-only">Search</label>
                    <input type="text" name="team-description-search-input" id="team-description-search" class="form-control text-search-input" placeholder="search descriptions...">

                    <label for="team-hackathon-search" class="sr-only">Search</label>
                    <input type="text" name="team-hackathon-search-input" id="team-hackathon-search" class="form-control text-search-input" placeholder="search hackathons...">

                    <label for="team-sort-button" class="sr-only"></label>
                    <button type="button" class="btn btn-default" id="team-sort-button">Recent</button>
                </form>

                <div id="team-search-result"></div>
            </div>
        </div>
    </div>

        <!-- Moment JS -->
    <script src="@routes.Assets.at("/javascripts/moment.js")"></script>
    <script src="@routes.Assets.at("/javascripts/moment-timezone-10-20.js")"></script>

        <!-- Custom JS -->
    <script src="@routes.Assets.at("/javascripts/SearchResultTeamList.js")"></script>
    <script src="@routes.Assets.at("/javascripts/FormHandlers.js")"></script>

    <script>

            'use strict';

            // Set up handlers and initialize page
            $(function () {


                // Load user skills
                $.ajax({
                    type: "get",
                    url: "",
                    dataType: "json",
                    success: function (responseData) {

                    }
                });

                // Load all unjoined teams
                $.ajax({
                    type: "get",
                    url: "@routes.Teams.getUnjoinedTeams()",
                    dataType: "json",
                    success: function (responseData, textResponse, jqXHR) {

                        console.log(responseData);

                        if (responseData['success'] === true) {

                            let teamList = new SearchResultTeamList("team-search-result", responseData['payload']);

                            teamList.display();

                            let f = $('#team-search-form');

                            $('.text-search-input').keyup(() => {
                                teamList.search(f.serializeArray());
                                teamList.display();
                            });

                            let d = $('#team-sort-button');
                            d.click(function () {
                                teamList.sort();
                                teamList.display();
                            });


                        } else {
                            console.log("There was an problem loading your journal entries")
                        }
                    }
                });
            });

    </script>

}